RewriteEngine on

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !^/stats/
RewriteRule ^(.+)\.(\d+)\.(js|css)$ $1.$3 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ public/index.php?command=$1 [L]
